@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');





main {
  margin: 0px;
  padding: 0px;
  background-color: rgb(5, 4, 32);
}


body,
html {
  color: white;
  background-color: rgb(5, 4, 32);
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

#titulo {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 50px 0px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(34, 104, 255), rgba(0, 0, 0, 0));
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(163, 160, 255);
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  padding: 10px 0px;
  width: 100%;
  font-size: 12px;
}